h2 {
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 2em;
    color: dimgray;
}

section {
    display: grid;
    grid-template-areas:
            "div div div";
    grid-template-columns: 15% 40% 45%;
    grid-template-rows: 9em;
    margin: 1em 7em 1em 7em;
    border-bottom: 3px solid lightgray;
}
div .prices {
    display: grid;
    grid-template-areas:
            "div div div";
    grid-template-columns: 30% 40% 30%;
}

h3 {
    color: dimgray;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 1.2em;
}
.delete {
    margin-top: 50%;
    border: none;
    border-radius: 15px;
    padding: 4px 10px;
    background: lightgray;
    color: dimgray;
}
.value,
.value1 {
    font-size: 1.7em;
    color: dimgray;
}
.count_item,
.minus,
.plus {
    display: inline-block;
    font-size: 1.7em;
    border: none;
    background: white;
    color: dimgray;
}
p {
    color: #4e555b;
    text-align: center;
    margin: 0.7em auto 1.2em auto;
}
form{
    text-align: center;
}
#submitOrder {
    margin: 1em auto;
    border-radius: 3px;
    font-size: inherit;
    padding: 6px 17px;
    border: none;
    color: white;
    background: dimgrey;
}

@media screen and (max-width: 480px){
    body {
        font-size: 18px;
    }

    section {
        text-align: center;
    }

    .cards {
        display: block;
    }
    h1 {
        font-size: 24px;
    }
    section {
        grid-template-rows: 6em;
        margin: 1em 1em 1em 1em;
        border-bottom: 2px solid lightgray;
    }

    h3 {
        font-size: 15px;
    }
    .delete {
        font-size: 10px;
        padding: 5px;
    }
    p {
        font-size: 13px;
    }
    .count_item,
    .minus,
    .plus,
    .value,
    .value1 {
        font-size: 1em;
    }
    #submitOrder {
        font-size: 13px;
        padding: 4px 13px;
    }
}

@media screen
and (min-width: 481px)
and (max-width: 768px) {
    body {
        font-size: 18px;
    }
    section {
        text-align: center;
    }
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
    section {
        grid-template-rows: 7em;
        margin: 1em 2em 1em 2em;
        border-bottom: 2px solid lightgray;
    }

    h3 {
        font-size: 18px;
    }
    .delete {
        font-size: 12px;
        padding: 6px;
    }
    p {
        font-size: 15px;
    }
    .count_item,
    .minus,
    .plus,
    .value,
    .value1 {
        font-size: 20px;
    }
    #submitOrder {
        font-size: 16px;
        padding: 5px 16px;
    }
}