section {
    background: none;
}
h1 {
    color: dimgray;
    text-align: center;
    margin: 1em 0 1em 0;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cards img {
    width: 140px;
    height: 190px;
    margin-left: 25%;
}
.card {
    border: 2px dotted lightgray;
    margin: 1em 1em 1em 1em;
    border-radius: 20px;
}
.card img:hover {
    transform: scale(1.3);
}
.card img {
    transition: 1s;
}
.card div {
    overflow: hidden;
}
p {
    margin: 0.4em;
}
.span {
    font-size: 18px;
    text-align: center;
    color: dimgray;
    margin-left: 4%;
}

@media screen and (max-width: 480px){
    body {
        font-size: 18px;
    }
    section {
        text-align: center;
    }
    h1 {
        font-size: 24px;
    }
    .card {
        display: block;
    }
    .xs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .cards img {
        width: 20vw;
        height: 15vh;
        margin-left: 0;
    }
    .card {
        margin-bottom: 2vh;
    }
    p {
        font-size: 15px;
    }
}

@media screen
and (min-width: 481px)
and (max-width: 768px) {
    body {
        font-size: 18px;
    }
    section {
        text-align: center;
    }
    h1 {
        font-size: 30px;
    }
    li {
        border-bottom: 2px solid lightgray;
        padding: 0.5em 0 0.5em 1em;
    }
    .cards img {
        width: 21vw;
        height: 19vh;
        margin-left: 0;
    }
    .xm {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    p {
        font-size: 15px;
    }
    section {
        margin-bottom: 1em;
    }
}